* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Arvo", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #fff4e0;
  color: #6b5b4b;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #f8c8dc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.header-logo {
  padding: 1rem;
  margin-left: 2rem;
  font-size: 3rem;
  font-weight: bold;
}

.header-logo a {
  color: #6b5b4b;
  text-decoration: none;
}

.header-nav {
  padding: 1rem;
  margin-right: 2rem;
}

.header-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.header-nav li {
  font-size: 3rem;
  font-weight: bold;
}

.header-nav a {
  color: #6b5b4b;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}

.footer {
  background-color: #f8c8dc;
  padding: 2rem;
  color: #6b5b4b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem; 
}

.btn {
  background-color: #6b5b4b;
  color: #f8c8dc;
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.6rem;
  border-radius: 1rem;
  cursor: pointer;
}

.btn-eliminar-carrito {
  border: 2px solid #f8c8dc;
}

.btn:hover {
  background-color: #f8c8dc;
  color: black;
}

/* -------------------------------------------------------------------------- */
/*                                    Inicio                                  */
/* -------------------------------------------------------------------------- */

main {
  width: 90%;
  flex: 1;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  font-size: 4rem;
  margin: 2rem 0;
}

main .parrafo-inicio {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  width: 80%;
}

.productos-inicio {
  width: 100%;
}

.productos-inicio h2 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  margin: 3rem;
}

.contenedor-tarjetas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.tarjeta-producto {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  border: solid #cfa18d;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.tarjeta-producto h3 {
  font-size: 2.5rem;
  color: #6b5b4b;
  text-align: center;
  cursor: pointer;
}

.tarjeta-producto p {
  font-size: 2rem;
  font-weight: bold;
  color: #f8c8dc;
}

.tarjeta-producto img {
  width: 100%;
  border-radius: 0.5rem;
}

/* -------------------------------------------------------------------------- */
/*                                  Contacto                                  */
/* -------------------------------------------------------------------------- */

.seccion-contacto {
  width: 100%;
  margin: 2rem auto;
}

.titulo-contacto {
  font-size: 4rem;
  text-align: center;
  margin: 2rem 0;
}

.form {
  background-color: #ffffff;
  padding: 5rem;
  border-radius: 1rem;
  width: 60rem; 
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.campo-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.campo-form label {
  font-size: 2rem;
}

.campo-form input,
.campo-form textarea {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border-color: #6b5b4b;
  border-width: 0.2rem;
}

.form button {
  background-color: #f8c8dc;
  color: #6b5b4b;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* -------------------------------------------------------------------------- */
/*                                  Carrito                                   */
/* -------------------------------------------------------------------------- */

.contenedor-carrito {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.mensaje-carrito-vacio {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}

.acciones-carrito {
  margin: 2rem;
  padding: 2rem;
}

.resumen-carrito {
  position: fixed;
  right: 2rem;
  top: 12rem;
  width: 28rem;

  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  border: solid 0.2rem #cfa18d;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  color: #6b5b4b;
  z-index: 1000;
}

.resumen-carrito h2 {
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 0.2rem solid #f8c8dc;
  padding-bottom: 1rem;
}

.resumen-carrito p {
  font-size: 1.8rem;
}

.resumen-carrito p:last-child {
  font-weight: bold;
  font-size: 2rem;
}


/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .header-logo,
  .header-nav {
    margin: 0;
  }

  .contenedor-tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tarjeta-producto {
    width: 80%;
  }

  .form {
    width: 80%;
    min-width: 400px;
  }

  .resumen-carrito {
    position: static; 
    width: 90%;
    margin: 2rem auto;
    top: auto;
    right: auto;
  }
}

@media (max-width: 1200px) {
  .resumen-carrito {
    position: static;
    width: 90%;
    margin: 2rem auto;
    top: auto;
    right: auto;
  }
}


